DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_DATABASE=
DB_AUTH=sql
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=
JWT_EXPIRES_IN=1d
ADMIN_UNIQUE_CODE=
ADMIN_FULL_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
BLOB_READ_WRITE_TOKEN=
